.mobile-navbar-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .mobile-nav-icon[name="close-outline"] {
    display: none;
  }
  .close-outline {
    display: none;
  }  
  @media (max-width:576px) {
     
    .mobile-navbar-btn {
        display: inline-block;
        z-index: 9999;
        border: black;
      }
        .mobile-nav-icon {
          font-size: 4.2rem;
          color: black;
        }
        .active .mobile-nav-icon {
            display: none;
            font-size: 4.2rem;
            position: absolute;
            
            color: black;
            z-index: 9999;
          }
          .active .close-outline {
            display: inline-block;
            top: 3%;
            right: 10%;
          }
          .side-nav-2 {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
    
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            visibility: hidden;
            opacity: 0;
            transform: translateX(100%);
            /* transform-origin: top; */
            transition: all 1s linear;
            
          }
          .active .side-nav-2 {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            z-index: 999;
            transform-origin: right;
            transition: all 1s linear;
           
            
          }
            .side-nav-div-2 {
              font-size: 20px;
              display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            }

 }
 @media (min-width: 576px){
    .side-nav-2{
        display: none;
    }
    .mobile-nav-icon{
      margin-left: 10px;
    }
 }